<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <p> Women Helpline ( All India ) -<br>

        Women In Distress<br>
        
        1091<br>
        
        Women Helpline Domestic Abuse <br>
        
        181<br>
        
        Police<br>
        
        100<br>
        
        National Commison For Women (NCW) ( Domestic voilence 24x7 helpline for Sexual Voilence and harrashment )	<br>
        7827170170<br>
         
        
        National Commison For Women (NCW)<br>
        
         
        
        011-26942369, 26944754<br>
        
        Delhi Commision For Women<br>
        
        011-23378044 / 23378317 / 23370597<br>
        
        Outer Delhi Helpline<br>
        
        011-27034873 , 27034874<br>
        
        Student / Child Helpline<br>
        
        1098<br>
        
        National Human Right Commision<br>
        
        011-23385368/<br>
        
        9810298900<br>
<%- include("partials/footer"); -%>
